body
	{
	background-color:rgb(255,200,200);
	}
.errorMsg
	{
	border-radius: 20px 20px 20px 20px;
	position:relative;
	padding: 5%;
	text-align:center;
	background-image: radial-gradient(circle 90vw,orange,rgba(255,0,0,1));
	border-color:red;
	box-shadow : 6px 6px 3vh red;
	}
.btn
	{
	margin:1px;
	border: 8px ridge black;
	border-radius: 20px 20px 20px 20px;
	box-shadow : 6px 6px 3vh red;
	position:relative;
	text-align:center;
	background-image: radial-gradient(circle 500px, orange,rgba(255,0,0,1));
	}